<?xml version="1.0"  ?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2023 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!--    Hide price if the customer not logged in-->
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="tigren_customergrouprule_hide_price_list"
                type="Tigren\CustomerGroupRule\Plugin\HidePricesPlugin"
                sortOrder="1"/>
    </type>

    <!--         Hide Add to Cart button-->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="hide_add_to_cart_btn" type="Tigren\CustomerGroupRule\Plugin\HideAddToCartBtnPlugin"
                sortOrder="1"/>
    </type>

    <preference for="Magento\Catalog\Pricing\Render\FinalPriceBox"
                type="Tigren\CustomerGroupRule\Pricing\Render\FinalPriceBox"/>
    <preference for="Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox"
                type="Tigren\CustomerGroupRule\Pricing\Render\FinalPriceBox"/>

    <!--UI component-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tigren_customergrouprule_rule_listing_data_source" xsi:type="string">
                    Tigren\CustomerGroupRule\Model\ResourceModel\Rule\Grid\Collection
                </item>
                <item name="tigren_customergrouprule_rule_form_data_source" xsi:type="string">
                    Tigren\CustomerGroupRule\Model\ResourceModel\Rule\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Tigren\CustomerGroupRule\Model\ResourceModel\Rule\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tigren_customer_group_catalog_rules</argument>
            <argument name="resourceModel" xsi:type="string">
                Tigren\CustomerGroupRule\Model\ResourceModel\Rule
            </argument>
        </arguments>
    </virtualType>
</config>
