<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2023 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_CustomerGroupRule::tigren_menu" title="Tigren" translate="title"
             module="Tigren_CustomerGroupRule"
             sortOrder="5" resource="Magento_Backend::content"/>
        <add id="Tigren_CustomerGroupRule::group_rule" title="Rule" translate="title"
             module="Tigren_CustomerGroupRule"
             sortOrder="30" parent="Tigren_CustomerGroupRule::tigren_menu" action="customergrouprule/rule/index"
             resource="Tigren_CustomerGroupRule::menu_item"/>
    </menu>
</config>
